/* Enter your custom styles here */
/* Enter your custom styles here */
/* In your CSS file */
.hideCheckbox {
    pointer-events: none; /* Prevents click events */
    opacity: 0.4; /* Makes it visually appear disabled */
    visibility: hidden;   
}
.div[aria-level='2']{
    pointer-events: none !important;
}
.div[aria-level='2'].sapUiTableRowHdr::before {
    border: none !important;
}
.subHeader {
    /* background-color: #f5f6f7;  */
    background-color: #e8eff6 !important;
    font-family: "72-SemiboldDuplex", "72-SemiboldDuplexfull", "72", "72full", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 11px;
}
.sapUiTableHeaderRow {
     background-color: #e8eff6 !important;
}

